<div class="w-screen max-w-md overflow-hidden">
  <img class="mb-4 w-40 mx-auto" src="<%= imageForModel(node.hardwareModel) %>" onerror="this.classList.add('hidden')" />
  <b><%= node.longName %></b>
  <br />
  Short Name: <%= node.shortName %>
  <br />
  MQTT Status:
  <% if (node.mqttConnectionState === 'online') { %>
    <span class="text-green-700">Online</span>
  <% } else if (node.mqttConnectionState === 'offline' ) { %>
    <span class="text-blue-700">Offline</span>
  <% } else { %>
    <span class="text-blue-700">Offline</span>
  <% } %>
  <% if (node.mqttConnectionStateUpdatedAt) { %>
    (<%= luxon.DateTime.fromISO(node.mqttConnectionStateUpdatedAt).toRelative() %>)
  <% } %>
  <br /><br />
  Role: <%= NodeRoleTypes[node.role] %>
  <br />
  Hardware: <%= HardwareModelLookups[node.hardwareModel] %>
  <br />
  Battery:
  <% if (node.batteryLevel) { -%>
  <% if (node.batteryLevel > 100) { -%>
  Plugged In
  <% } else { -%>
  <%= node.batteryLevel -%>
  <% } %>
  <% } else { %>
    Unknown
  <% } %>
  <br />
  <% if (node.voltage) { %>
  Voltage: <%= Number(node.voltage).toFixed(2) %>V<br />
  <% } %>
  Ch Util: 3.78%
  <br />
  Air Util: 0.80%
  <br />
  Location: <a href="https://maps.google.com/?q=18.598652,73.7852498" target="_blank">18.598652, 73.7852498</a><br />
  Altitude: 593m
  <br /><br />
  ID: <%= node.nodeId %>
  <br />
  Hex ID: !<%= node.nodeId.toString(16) %>
  <br />
  Updated: <%= luxon.DateTime.fromISO(node.updatedAt).toRelative() %>
  <br />
  <% if(node.neighboursUpdatedAt) { -%> Neighbours Updated: <%= luxon.DateTime.fromISO(node.neighboursUpdatedAt).toRelative() %> <% } -%>
  <br />
  <% if(node.positionUpdatedAt) { -%> Position Updated: <%= luxon.DateTime.fromISO(node.positionUpdatedAt).toRelative() %> <% } -%>
  <br />
  Latest message: Test<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5 hours ago from K10P <br /><br />
  <button onclick="showNodeDetails(3663164324);" class="border border-gray-300 bg-gray-100 p-1 w-full rounded hover:bg-gray-200 mb-1">
    Show Full Details
  </button>
  <br />
  <button onclick="showNodeNeighboursThatHeardUs(3663164324);" class="border border-gray-300 bg-gray-100 p-1 w-full rounded hover:bg-gray-200 mb-1">
    Show Neighbours (Heard Us)
  </button>
  <br />
  <button onclick="showNodeNeighboursThatWeHeard(3663164324);" class="border border-gray-300 bg-gray-100 p-1 w-full rounded hover:bg-gray-200">
    Show Neighbours (We Heard)
  </button>
</div>
